/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* {
  font-family: 'Lato', sans-serif;
}

body {
  height: 100%;
  background: transparent asset-url("bg3.jpg") no-repeat;
  background-size: cover;
  color: #5a5a5a;
}

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}


a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

.nopadding {
  padding: 0px !important;
  margin: 0px;
}

.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}
.ml {margin-left: 2em;}

.z-top {
  z-index: 1000;
}

li {
  min-height: 3em;
}

div.field_with_errors input {
  background-color: #ffa;
  border: 1px solid red;
}



/* header */

#nav-header {
  color: white;
}


/* footer */
#f {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #666666;
}

#f i {
  margin-right: 30px;
  font-size: 35px;
}

#f a {
  color: white;
}
